<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shaimaamasarwi">

    <uses-permission android:name="android.permission.R" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShaimaaMasarwi"
        tools:targetApi="31">
        <activity
            android:name=".Divergent"
            android:exported="false" />
        <activity
            android:name=".MainActivity2home"
            android:exported="false" />
        <activity
            android:name=".health"
            android:exported="false" />
        <activity
            android:name=".kids"
            android:exported="false" />
        <activity
            android:name=".fiction"
            android:exported="false" />
        <activity
            android:name=".item_sets"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="false" />

        <meta-data android:name="com.google.android.actions" />

        <activity
            android:name=".mailActivity2"
            android:exported="false" />
        <activity
            android:name=".Mail"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".listActivity"
            android:exported="false" />
        <activity
            android:name=".about"
            android:exported="false" />
        <activity
            android:name=".help"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Receiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".MyIntentService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>